<div class="toolbar">
  <md-toolbar color="accent">
    <span>Toolbar</span>
    <span class="fill-remaining-space"></span>
    <span>
      <i class="material-icons" (click)="click = 'viewList'">view_list</i>
      <i class="material-icons" (click)="click = 'postJob'">add</i>
    </span>
  </md-toolbar>
</div>
<div *ngIf="click === 'viewList'">
  <app-view-list [isAdmin]="isAdmin" [isStd]="isStd" [isCompany]="isCompany"></app-view-list>
</div>
<div *ngIf="click === 'postJob'">
  <app-post-job (changeTab)="click = 'viewList'"></app-post-job>
</div>