<md-card>
    <md-card-title> 
      <h2>Post Job</h2>
    </md-card-title>
    <md-card-content>
      <form #vacancyForm (ngSubmit)="PostJob(vacancyForm.value)">
        <md-input-container required
            dividerColor='primary' 
            placeholder='Job Title'>
            <input mdInput
            name="jobTitle"
            type="text"
            #jobTitle="ngModel"
            [(ngModel)]="title">
        </md-input-container>
        <small [hidden]="!jobTitle.errors?.required || (jobTitle.pristine && !vacancyForm._submitted)" class="alert alert-danger">
            Job Title is required!
        </small>
        <br>
        <md-input-container required
            dividerColor='primary' 
            placeholder='Company Name'>
            <input mdInput
            name="cname"
            type="text"
            #cname="ngModel"
            [(ngModel)]="companyname">
        </md-input-container>
        <small [hidden]="!cname.errors?.required || (cname.pristine && !vacancyForm._submitted)" class="alert alert-danger">
            Company Name is required!
        </small>
        <br>
        <md-input-container
            dividerColor='primary' 
            placeholder='Job Location'>
            <input mdInput
            name="location"
            type="text"
            #location="ngModel"
            [(ngModel)]="joblocation">
        </md-input-container>
        <br>
        <md-input-container 
            dividerColor='primary' 
            placeholder='No. of Vacancies'>
            <input mdInput
            name="vacanycount"
            type="number"
            #vacanycount="ngModel"
            [(ngModel)]="vacancies">
        </md-input-container>
        <br>
        <textarea 
            class='textarea' 
            placeholder='Job Description' 
            rows="7" 
            cols="35">
        </textarea>
        <br>
        <button type='submit' md-mini-fab color='primary'>
          <i class="material-icons">send</i>
        </button>
      </form>
    </md-card-content>
  </md-card>