<h1>
  Library Locator
</h1>
<p>
          As our programs grow in size, we often find that different parts of the app need to communicate with other modules.
          When module A requires module B to run, we say that B is a dependency of A.
          One of the most common ways to get access to dependencies is to simply import a file.
          For instance, in this hypothetical module we might do the following:
          In many cases, simply importing other code is sufficient. 
          However there are times where we need to provide dependencies in a more sophisticated way. 
          For instance: What if we wanted to substitute out the implementation of B for MockB during testing?
          What if we wanted to share a single instance of the B class across our whole app?
          What if we wanted to create a new instance of the B class every time it was used?
        </p>
        <p>
          As our programs grow in size, we often find that different parts of the app need to communicate with other modules.
          When module A requires module B to run, we say that B is a dependency of A.
          One of the most common ways to get access to dependencies is to simply import a file.
          For instance, in this hypothetical module we might do the following:
          In many cases, simply importing other code is sufficient. 
          However there are times where we need to provide dependencies in a more sophisticated way. 
          For instance: What if we wanted to substitute out the implementation of B for MockB during testing?
          What if we wanted to share a single instance of the B class across our whole app?
          What if we wanted to create a new instance of the B class every time it was used?
        </p>
        <p>
          As our programs grow in size, we often find that different parts of the app need to communicate with other modules.
          When module A requires module B to run, we say that B is a dependency of A.
          One of the most common ways to get access to dependencies is to simply import a file.
          For instance, in this hypothetical module we might do the following:
          In many cases, simply importing other code is sufficient. 
          However there are times where we need to provide dependencies in a more sophisticated way. 
          For instance: What if we wanted to substitute out the implementation of B for MockB during testing?
          What if we wanted to share a single instance of the B class across our whole app?
          What if we wanted to create a new instance of the B class every time it was used?
        </p>
        <p>
          As our programs grow in size, we often find that different parts of the app need to communicate with other modules.
          When module A requires module B to run, we say that B is a dependency of A.
          One of the most common ways to get access to dependencies is to simply import a file.
          For instance, in this hypothetical module we might do the following:
          In many cases, simply importing other code is sufficient. 
          However there are times where we need to provide dependencies in a more sophisticated way. 
          For instance: What if we wanted to substitute out the implementation of B for MockB during testing?
          What if we wanted to share a single instance of the B class across our whole app?
          What if we wanted to create a new instance of the B class every time it was used?
        </p>