<div class="main">
<md-card class='header'>
  <img md-card-avatar class='logo' src='./assets/images/logo.jpg' alt='logo' width='50' height='50'>
  <div class="heading">
    <md-card-title> CRS </md-card-title>
    <md-card-subtitle> The Campus Recruitment System </md-card-subtitle>
  </div>
  <img md-card-avatar class="user" src='./assets/images/grads.jpg'>
</md-card>


<div class="flex">
  <div class="menuIcons">
      <i class="material-icons" (click)="menu.toggle()">menu</i>
      <i class="material-icons" *ngFor="let i of icons" (click)="routeTo(i)"> {{i}} </i> 
  </div>
  <div>
    <md-sidenav-container>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
      <md-sidenav align="start" #menu class="wide">
        <ul class="noDecor">
          <li *ngFor="let m of MenuIcons"> {{m}} </li>
        </ul>
      </md-sidenav>
    </md-sidenav-container>
  </div>
</div>

<md-card>
  <md-card-subtitle> LMS 2017 </md-card-subtitle>
</md-card>
</div>
  <router-outlet name='main'></router-outlet>
