<div class="main">
  <md-card class='header'>
    <img md-card-avatar class='logo' src='./assets/images/logo.jpg' alt='logo' width='50' height='50'>
    <div class="heading">
      <md-card-title> The Campus Recruitment System </md-card-title>
    </div>
    <md-card-actions class="action"> 
      {{username}} <br>
      <button md-raised-button color="warn" (click)="SignOut()" [disabled]="(user$ | async) !== 'signedout'">
        <!-- TODO: update user.status instead of adding new key each time-->
        SignOut
      </button>
    </md-card-actions>
  </md-card>
  <div class="flex">
    <div class="menuIcons">
        <i class="material-icons" (click)="menu.toggle()">menu</i>
        <i class="material-icons" *ngFor="let i of icons" (click)="routeTo(i)"> {{i}} </i> 
    </div>
    <div>
      <md-sidenav-container>
        <div class="container">
          <router-outlet></router-outlet>
        </div>
        <md-sidenav align="start" #menu class="wide">
          <ul class="noDecor">
            <li *ngFor="let m of MenuIcons"> {{m}} </li>
          </ul>
        </md-sidenav>
      </md-sidenav-container>
    </div>
  </div>
</div>
